/.DS_Store
/GSKOncology/bin-debug/
/GSKOncology/src/assets/video/kt_tunstall.mp4
/GSKOncology/src/assets/video/brain_move_stgvid_2.mp4
/GSKOncology/src/assets/video/brain_move_stgvid_0_1_1_1_1.m4v
/GSKOncology/src/assets/video/brain_move_stgvid_0_1_1_1.m4v
/GSKOncology/src/assets/video/brain_move_stgvid_0.mp4
/GSKOncology/GSKOncology.air
/StageVideo/src/kt_tunstall.mp4
/StageVideo/src/brain_move_longer_1920.mov
/StageVideo/bin-debug/kt_tunstall.mp4
/StageVideo/bin-debug/brain_move_longer_1920.mov
/GSKOncology/src/assets/video/tafinlar_L1_popups_1080.mov
/GSKOncology/src/assets/video/tafinlar_homepage_1080.mov
/GSKOncology/src/assets/video/tafinlar_efficacy_1080.mov
/GSKOncology/src/assets/video/tafinlar_dosing_1080.mov
/GSKOncology/src/assets/video/Tafinlar_break_1080.mov
/GSKOncology/src/assets/video/tafinlar_break3_1080.mov